extends layout

block extraHeader
  script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
  link(rel="stylesheet" href="/bower_components/jstree/dist/themes/default/style.min.css")
  script(type="text/javascript" src="/bower_components/jstree/dist/jstree.min.js")

  script.
    $(function() {
      $('#container').jstree({
        'core' : {
          'data' : [
            { "text" : "Root node",
              "children" : [
                { "text" : "Child node 1" },
                { "text" : "Child node 2" }
              ]
            }
          ]
        }
      });
    });

block content
  h1= title
  p Welcome to #{title}
  p Data:
  .container
    ul
      each rnc in data['rncs']
        li= rnc['name']
        ul
          each bts in rnc['btss']
            li= bts['name']

      div
        each rnc in data['rncs']
          .checkbox
            label #{rnc['name']}
            input(type="checkbox")

    #container