extends layout

block content
  h1= title
  p Welcome to #{title}
  p Data:
  .container
    ul
      each rnc in data['rncs']
        li= rnc['name']
        ul
          each bts in rnc['btss']
            li= bts['name']

      div
        each rnc in data['rncs']
          .checkbox
            label #{rnc['name']}
            input(type="checkbox")
